data*/*
config*/*
logs*/*
__pycache__/*
*/__pycache__/*
*/*/__pycache__/*
*/*/*/__pycache__/*
*/*/*/*/__pycache__/*
*/*/*/*/*/__pycache__/*
*/*/*/*/*/*/__pycache__/*
*/*/*/*/*/*/*/__pycache__/*
*/*/*/*/*/*/*/*/__pycache__/*
*/*/*/*/*/*/*/*/*/__pycache__/*
*/*/*/*/*/*/*/*/*/*/__pycache__/*
.trunk/
.vscode/
wmiobject-list.txt
*.log
*.json
scratch*.py
scratch*.ipynb
*.jsonl
wam/
.DS_Store
creds.py
wam*

