data/*
config*/*
logs*/*
__pycache__/*
*/__pycache__/*
*/*/__pycache__/*
*/*/*/__pycache__/*
*/*/*/*/__pycache__/*
*/*/*/*/*/__pycache__/*
*/*/*/*/*/*/__pycache__/*
*/*/*/*/*/*/*/__pycache__/*
*/*/*/*/*/*/*/*/__pycache__/*
*/*/*/*/*/*/*/*/*/__pycache__/*
*/*/*/*/*/*/*/*/*/*/__pycache__/*
.trunk/
.vscode/
wmiobject-list.txt
*.log
*.json
*.csv
scratch*.py
scratch*.ipynb
scratch/*
*.jsonl
wam/
.DS_Store
creds.py
wam*
count_files_and_directories_aql.sql
import_list.cmd
upload-notes.md
.uv*
.venv*
uv.lock
ntfs-journal-output.txt
