attrs==23.2.0
beautifulsoup4==4.12.2
certifi==2023.7.22
cffi==1.16.0
charset-normalizer==3.3.1
click==8.1.7
colorama==0.4.6
cryptography==41.0.5
docker==7.0.0
dropbox==11.36.2
google==3.0.0
idna==3.4
ijson==3.2.3
importlib-metadata==6.8.0
jaraco.classes==3.3.0
jsonlines==4.0.0
jsonschema==4.20.0
jsonschema-specifications==2023.12.1
keyring==24.2.0
keyrings.alt==5.0.0
more-itertools==10.1.0
msal==1.24.1
msgpack==1.0.7
packaging==23.2
ply==3.11
psutil==5.9.7
pycparser==2.21
pyicloud==1.0.0
PyJWT==2.8.0
python-arango==7.7.0
pywin32-ctypes==0.2.2
referencing==0.32.1
requests==2.31.0
requests-toolbelt==1.0.0
rpds-py==0.17.1
setuptools==68.2.2
six==1.16.0
soupsieve==2.5
stone==3.3.1
tzdata==2023.3
tzlocal==5.2
urllib3==2.0.7
zipp==3.17.0
